<!DOCTYPE html>
<html>
<head>
  <title>{{request.path}}</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body><div class="content">
{% block content %}{% endblock %}
</div></body>
</html>
